<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom</title>

    <link rel="stylesheet" href="../style.css">
</head>
<body class="body-dom">
    <header>
        <h1>Dom</h1>
    </header>

    <!-- atajo: nav#menu>ul>li*5>a{Sección $} -->
    <nav id="menu">
        <ul>
            <li><a href="#">Sección 1</a></li>
            <li><a href="#">Sección 2</a></li>
            <li><a href="#">Sección 3</a></li>
            <li><a href="#">Sección 4</a></li>
            <li><a href="#">Sección 5</a></li>
        </ul>
    </nav>

    <input type="text" name="nombew" placeholder="Nombre">

    <a href="./dom.html" class="link-dom" data-description="Document Object Model" data-id="dom">DOM</a>

    <section class="galeria">
        <figure class="card">
            <img src="https://picsum.photos/200/200?tech" alt="tech">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="card">
            <img src="https://picsum.photos/200/200?animals" alt="animals">
            <figcaption>animals</figcaption>
        </figure>
        <figure class="card">
            <img src="https://picsum.photos/200/200?people" alt="people">
            <figcaption>people</figcaption>
        </figure>
        <figure class="card">
            <img src="https://picsum.photos/200/200?arch" alt="arch">
            <figcaption>arch</figcaption>
        </figure>
        <figure class="card">
            <img src="https://picsum.photos/200/200?nature" alt="nature">
            <figcaption>nature</figcaption>
        </figure>
    </section>

    <!-- <script src="../js_dom/02_nodos_elementos_selectores.js"></script> -->
    <script src="../js_dom/03_atributos_data_atributos.js"></script>
</body>
</html>